@font-face {
  font-family: "iconfont"; /* Project id 5231040 */
  src: url('iconfont.woff2?t=1790129264428') format('woff2'),
       url('iconfont.woff?t=1790129264428') format('woff'),
       url('iconfont.ttf?t=1790129264428') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gateway-selecte:before {
  content: "\e602";
}

.icon-gateway:before {
  content: "\e8e4";
}

.icon-receive_message:before {
  content: "\e606";
}

.icon-messages:before {
  content: "\e8e3";
}

.icon-acewill-leaveback:before {
  content: "\e623";
}

.icon-duoxieyizhichi:before {
  content: "\e677";
}

.icon-a-1:before {
  content: "\e60a";
}

.icon-shanchuduihua:before {
  content: "\e7de";
}

.icon-stress:before {
  content: "\e603";
}

.icon-stress-selecte:before {
  content: "\e627";
}

.icon-jieshouxinxi:before {
  content: "\e75a";
}

.icon-chat-received:before {
  content: "\e7c5";
}

.icon-chat-publish:before {
  content: "\e65b";
}

.icon-send1:before {
  content: "\e601";
}

.icon-fasong:before {
  content: "\e88a";
}

.icon-send2:before {
  content: "\e6e6";
}

.icon-send-m:before {
  content: "\e7e2";
}

.icon-clear-data:before {
  content: "\e788";
}

.icon-duankailianjie:before {
  content: "\e62c";
}

.icon-a-ziyuan5:before {
  content: "\e629";
}

.icon-connect-batch1:before {
  content: "\e828";
}

.icon-connect-batch2:before {
  content: "\e84a";
}

.icon-connect-batch3:before {
  content: "\e89d";
}

.icon-connect6:before {
  content: "\e64f";
}

.icon-connect5:before {
  content: "\e61d";
}

.icon-lianjie3:before {
  content: "\e664";
}

.icon-lianjie4:before {
  content: "\e688";
}

.icon-file-open:before {
  content: "\e618";
}

.icon-file-close:before {
  content: "\e61a";
}

.icon-connect:before {
  content: "\e840";
}

.icon-guanyu:before {
  content: "\e686";
}

.icon-guanyu1:before {
  content: "\e620";
}

.icon-guanyu2:before {
  content: "\e622";
}

.icon-lianjie:before {
  content: "\e6f1";
}

.icon-lianjie1:before {
  content: "\e6c7";
}

.icon-a-jianqu43:before {
  content: "\e600";
}

.icon-SimpleMQTT:before {
  content: "\e605";
}

.icon-MQTT:before {
  content: "\e83f";
}

.icon-MQTT1:before {
  content: "\e70c";
}

.icon-MQTT2:before {
  content: "\e613";
}

.icon-lianjie2:before {
  content: "\e7a5";
}

.icon-connect-selecte:before {
  content: "\e658";
}

.icon-xitong:before {
  content: "\e6a6";
}

