@font-face {
  font-family: "iconfont"; /* Project id 4136370 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1786957635115') format('woff2'),
       url('iconfont.woff?t=1786957635115') format('woff'),
       url('iconfont.ttf?t=1786957635115') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Chatbotguanlimorentubiao:before {
  content: "\e6a7";
}

.icon-a-Framebeifen7:before {
  content: "\e61a";
}

.icon-zicaidan1:before {
  content: "\e611";
}

.icon-zicaidan:before {
  content: "\e6b4";
}

.icon-go:before {
  content: "\e793";
}

.icon-dakaixinchuangkou-:before {
  content: "\e6d3";
}

.icon-wangye:before {
  content: "\e648";
}

.icon-dialog:before {
  content: "\e601";
}

.icon--WarningonBrowser:before {
  content: "\e71e";
}

.icon-warning:before {
  content: "\e674";
}

.icon-zhihangshijian:before {
  content: "\e60a";
}

.icon-wenjian:before {
  content: "\e638";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a5";
}

.icon-filled:before {
  content: "\e668";
}

.icon-shouye:before {
  content: "\e698";
}

.icon-weixin:before {
  content: "\e630";
}

.icon-weixin1:before {
  content: "\e610";
}

.icon-deepseekdayuyanmoxing:before {
  content: "\e699";
}

.icon-lock:before {
  content: "\e979";
}

.icon-zhanghao:before {
  content: "\e607";
}

.icon-UIshejiwang:before {
  content: "\e612";
}

.icon-lirunfenxikuangjia:before {
  content: "\e67f";
}

.icon-kuangjia:before {
  content: "\e600";
}

.icon-woshiyingjianchangjia:before {
  content: "\e63f";
}

.icon-yingjianceng:before {
  content: "\e626";
}

.icon-xitong:before {
  content: "\e6a6";
}

.icon-UI-xuanzhong:before {
  content: "\e669";
}

.icon-UIIcon:before {
  content: "\e66a";
}

.icon-xitongjicheng:before {
  content: "\e7df";
}

.icon-xitongguanli:before {
  content: "\e766";
}

.icon-kuangjia1:before {
  content: "\e6e5";
}

